/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  width: 100%;
  background-color: #FFF;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 53px 360px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 57px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 31px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  text-align: center;
}

.nav__link {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  line-height: 125%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 200px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1__bg-container {
  width: 160%;
  height: 356px;
  margin-left: -360px;
  background-image: url(../img/services-img/nofull-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section1__bg-textbox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 41px 158px;
  gap: 10px;
  top: 330px;
  left: 708px;
  z-index: 1;
  background-color: #FFF;
  border-radius: 37px 37px 0px 0px;
}

.section1__bg-text {
  color: #292F36;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
}

.section1__bg-text2 {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 88px;
}

.section2__row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2__container:hover {
  border-radius: 30px;
  background: #F4F0EC;
}

.section2__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-weight: 400;
  text-align: center;
  font-size: 25px;
  line-height: 125%;
  margin-bottom: 20px;
}

.section2__text {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 80%;
  margin-bottom: 52px;
}

.section2__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.section2__link {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.36px;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 160px 116px;
  border-radius: 70px;
  background: #F4F0EC;
}

.section3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.section3-container__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3-container__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: #363B41;
  text-align: center;
  font-size: 50px;
  line-height: 125%;
}

.section3-container__text {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 75%;
}

.section3-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}

.section3-container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 51px;
}

.section3-container__img {
  border-radius: 0px 123px 0px 326.5px;
}

.section3-container__box-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 456px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 58px;
}

.section3-container__box-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 253px;
}

.section3-container__svg-text {
  color: #292F36;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: #FFF;
  text-align: center;
  font-size: 120px;
  line-height: 125%;
}

.section3-container__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.section3-container__box-title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 35px;
  line-height: 125%;
}

.section3-container__box-text {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 315px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 70px;
  background: #292F36;
}

.section4__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}
.section4__container .btn--broun {
  border-radius: 18px;
  background: #CDA274;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 49px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 18px;
  width: 55%;
  color: #FFF;
  font-family: "Jost";
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.36px;
}

.section4__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-weight: 400;
  color: #FFF;
  text-align: center;
  font-size: 50px;
  line-height: 125%;
}

.section4__text {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 400;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.footer {
  margin-top: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 134px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 101px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  border-right: 2px solid #E5E5E5;
}

.footer__info-text {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 60%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 54px;
}

.footer__servises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 101px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  border-right: 2px solid #E5E5E5;
}

.footer__title {
  color: #292F36;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
}

.footer__link {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}

.footer__last-container {
  margin-top: 134px;
}

.footer__last-text {
  color: #4D5053;
  font-family: "Jost";
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
}