$color-title: #292F36;
$color-text: #4D5053;
$white: #FFF;
$dm-sans: 'DM Serif Display';
$jost: 'Jost';
$fw-small: 400;
$fw-big: 600;
$fw-very-big: 700;
$bg-color: #F4F0EC;
$number-color: #CDA274;
$grey: #E7E7E7;
$light-grey: #E5E5E5;