@import './mixins' ;
@import './reset';
@import './vars';

body {
    width: 100%;
    background-color: $white;
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 53px 360px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 57px;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 31px;
}
.nav__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
}
.nav__link {
    @include jost-small ($color-text,$jost,$fw-small);
    text-align: center;
    font-size: 20px;
    line-height: 125%;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.section1 {
    display: flex;
    flex-direction: column;
}
.section1__bg-container {
    width: 160%;
    height: 356px;
    margin-left: -360px;
    background-image: url(../img/blog-img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section1__bg-textbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 158px;
    gap: 10px;
    top: 330px;
    left: 708px;
    z-index: 1;
    background-color: $white;
    border-radius: 37px 37px 0px 0px;
}
.section1__bg-text {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 50px;
    line-height: 125%; 
}
.section1__bg-text2 {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.section2 {
    display: flex;
    flex-direction: column;
    gap: 172px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 1px;
}
.container__box {
    display: flex;
    flex-direction: row;
    gap: 65px;
    padding: 22px;
    border: 1px solid #E7E7E7;
    border-radius: 62px;
}
.container__img {
    border-radius: 50px;
}
.container__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 41px;
    margin-top: 20px;
}
.container__contain-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    width: 75%;
}
.container__box-title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.5px;
}
.container__box-text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.section2__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%
}
.section2__date-text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.16px;
}

.section2__textbox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.section2__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    text-align: center;
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 1px;
}
.section2__text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 63%;
    text-align: center;
}
.section2__container {
    display: flex;
    flex-direction: row;
    gap: 27px;
    justify-content: center;
}
.section2__box {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    border-radius: 62px;
    border: 1px solid $grey;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    padding: 21px;
}
.section2__phone {
    background-image: url(../img/index-img/news1.png);
}
.section2__img {
    border-radius: 45px 45px 0px 0px;
}
.section2__text-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .title--width {
        width: 100%;
    }
}
.section2__box-title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.5px;
    width: 70%;
}
.section2__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section2__date-text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.16px;
}
.footer {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    gap: 134px;
    justify-content: center;
}
.footer__wrapper {
    display: flex;
    flex-direction: row;
    gap: 101px;
}
.footer__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 2px solid $light-grey;
}
.footer__info-text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 60%;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 54px;
}
.footer__servises {
    display: flex;
    flex-direction: row;
    gap: 101px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-right: 2px solid $light-grey;
}
.footer__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 25px;
    line-height: 125%;
}
.footer__link {
    @include jost-small ($color-text,$jost,$fw-small);
    line-height: 300%;
    letter-spacing: 0.22px;
}
.footer__last-container {
    margin-top: 134px;
}
.footer__last-text {
    @include jost-small ($color-text,$jost,$fw-small);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}