@import './mixins' ;
@import './reset';
@import './vars';

body {
    width: 100%;
    background-color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 53px 360px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 57px;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 31px;
}
.nav__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
}
.nav__link {
    @include jost-small ($color-text,$jost,$fw-small);
    text-align: center;
    font-size: 20px;
    line-height: 125%;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.section1 {
    padding: 208px 0px 208px 52px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/index-img/furniture.png);
    border-radius: 60px;
}
.section1__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
}
.section1__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 65px;
    line-height: 125%;
}
.section__text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.btn {
    display: flex;
    padding: 26px 49px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    background: $color-title;
    width: 55%;
    @include jost-very-big-white ($white, $jost,$fw-very-big);
    text-align: center;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.36px;
}
.section2 {
    display: flex;
    flex-direction: row;
    gap: 42px;
}
.section2__container {
    display: flex;
    flex-direction: column;
}
.section2__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    text-align: center;
    font-size: 25px;
    line-height: 125%;
    margin-bottom: 20px;
}
.section2__text {
    @include jost-small ($color-text,$jost,$fw-small);
    text-align: center;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 80%;
    margin-bottom: 52px;
}
.section2__link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.section2__link {
    @include jost-big ($color-text, $jost,$fw-big);
    text-align: center;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.36px;
}
.section3 {
    display: flex;
    flex-direction: row;
    gap: 75px;
    .btn {
        width: 100%;
    }
}
.section3__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
}
.section3__text-box {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width:65%;
}
.secrion3__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 1px;
}
.section3__text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.section3__call-box {
    display: flex;
    flex-direction: column;
    gap: 47px;
}
.tell-box {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.section3__number {
    @include jost-very-big-dark ($color-text, $jost,$fw-very-big);
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.24px;
}
.section3__number-text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.section3__img {
    width: 38%;
    border-radius: 0px 326.5px 0px 123px;
}
.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    background-color: $bg-color;
    border-radius: 40px;
    padding: 88px 24px;
}
.section4__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    width: 80%;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 1px;
}
.section4__box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}
.section4__card {
    display: flex;
    flex-direction: column;
    padding: 53px 30px;
    background-color: $white;
    border-radius: 20px;
}
.section4__peaple-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}
.section4__peaple-textbox {
    display: flex;
    flex-direction: column;
}
.section4__textbox1 {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.25px;
}
.section4__textbox2 {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.18px;
}
.section4__text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 100%;
}
.more--width {
    width: 70%;
}
.more--width2 {
    width: 97%;
}
.section5__container {
    display: flex;
    flex-direction: row;
    gap: 108px;
    justify-content: center;
    align-items: center;
}
.section6 {
    display: flex;
    flex-direction: column;
    gap: 93px;
}
.section6__text-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.section6__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    text-align: center;
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 1px;
}
.section6__text {
    @include jost-small ($color-text,$jost,$fw-small);
    text-align: center;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 58%;
}
.section6__room-box {
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.section6-container {
    display: flex;
    flex-direction: row;
    gap: 104px;
    justify-content: center;
}
.section6-container__box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section6-container__element-box {
    display: flex;
    flex-direction: row;
    gap: 260px;
    justify-content: space-between;
}
.section6-container__text-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.section6-container__name {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.5px;
}
.section6-container__work {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.radius1 {
    border-radius: 0px 80px 0px 0px;
}
.radius2 {
    border-radius: 80px 0px 0px 0px;
}
.radius3 {
    border-radius: 0px 0px 80px 0px;
}
.radius4 {
    border-radius: 0px 0px 0px 80px;
}
.section7 {
    padding: 151px 0px;
    width: 100%;
    background-color: $bg-color;
}
.section7__container {
    display: flex;
    flex-direction: row;
    gap: 76px;
    justify-content: center;
}
.section7__box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 54px 0px 0px;
    border-right: 2px solid $number-color;
}
.section7__number {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    color: $number-color;
    font-size: 85px; 
    line-height: 125%;
    letter-spacing: 1.7px;
}
.section7__text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.section8 {
    display: flex;
    flex-direction: column;
    gap: 52px;
}
.section8__textbox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.section8__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    text-align: center;
    font-size: 50px;
    line-height: 125%;
    letter-spacing: 1px;
}
.section8__text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 63%;
    text-align: center;
}
.section8__container {
    display: flex;
    flex-direction: row;
    gap: 27px;
    justify-content: center;
}
.section8__box {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    border-radius: 62px;
    border: 1px solid $grey;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    padding: 21px;
}
.section8__phone {
    background-image: url(../img/index-img/news1.png);
}
.section8__img {
    border-radius: 45px 45px 0px 0px;
}
.section8__text-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .title--width {
        width: 100%;
    }
}
.section8__box-title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.5px;
    width: 70%;
}
.section8__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section8__date-text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.16px;
}
.section9 {
    display: flex;
    padding: 80px 315px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 70px;
    background: $color-title;
}
.section9__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    .btn--broun {
        border-radius: 18px;
        background: $number-color;
    }
}
.section9__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    color: $white;
    text-align: center;
    font-size: 50px;
    line-height: 125%;
}
.section9__text {
    @include jost-small ($color-text,$jost,$fw-small);
    color: $white;
    text-align: center;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.footer {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    gap: 134px;
    justify-content: center;
}
.footer__wrapper {
    display: flex;
    flex-direction: row;
    gap: 101px;
}
.footer__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 2px solid $light-grey;
}
.footer__info-text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 60%;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 54px;
}
.footer__servises {
    display: flex;
    flex-direction: row;
    gap: 101px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-right: 2px solid $light-grey;
}
.footer__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 25px;
    line-height: 125%;
}
.footer__link {
    @include jost-small ($color-text,$jost,$fw-small);
    line-height: 300%;
    letter-spacing: 0.22px;
}
.footer__last-container {
    margin-top: 134px;
}
.footer__last-text {
    @include jost-small ($color-text,$jost,$fw-small);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}