@import './mixins' ;
@import './reset';
@import './vars';
body {
    width: 100%;
    background-color: $white;
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 53px 360px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 57px;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 31px;
}
.nav__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
}
.nav__link {
    @include jost-small ($color-text,$jost,$fw-small);
    text-align: center;
    font-size: 20px;
    line-height: 125%;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.section1 {
    display: flex;
    flex-direction: column;
}
.section1__bg-container {
    width: 160%;
    height: 356px;
    margin-left: -360px;
    background-image: url(../img/services-img/nofull-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section1__bg-textbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 158px;
    gap: 10px;
    top: 330px;
    left: 708px;
    z-index: 1;
    background-color: $white;
    border-radius: 37px 37px 0px 0px;
}
.section1__bg-text {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 50px;
    line-height: 125%; 
}
.section1__bg-text2 {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.section2 {
    display: flex;
    flex-direction: column;
    gap: 88px;
}
.section2__row-container {
    display: flex;
    flex-direction: row;
}
.section2__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2__container:hover {
    border-radius: 30px;
    background: $bg-color;
}
.section2__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    text-align: center;
    font-size: 25px;
    line-height: 125%;
    margin-bottom: 20px;
}
.section2__text {
    @include jost-small ($color-text,$jost,$fw-small);
    text-align: center;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 80%;
    margin-bottom: 52px;
}
.section2__link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.section2__link {
    @include jost-big ($color-text, $jost,$fw-big);
    text-align: center;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.36px;
}
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 160px 116px;
    border-radius: 70px;
    background: $bg-color;
}
.section3-container {
    display:  flex;
    flex-direction: column;
    gap: 100px;
}
.section3-container__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3-container__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    color: #363B41;
    text-align: center;
    font-size: 50px;
    line-height: 125%; 
}
.section3-container__text {
    @include jost-small ($color-text,$jost,$fw-small);
    display: flex;
    text-align: center;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 75%;
}
.section3-container__content {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.section3-container__box {
    display: flex;
    flex-direction: row;
    gap: 51px;
}
.section3-container__img {
    border-radius: 0px 123px 0px 326.5px;
}
.section3-container__box-contain {
    display: flex;
    width: 456px;
    flex-direction: column;
    align-items: flex-start;
    gap: 58px;
}
.section3-container__box-svg {
    display: flex;
    flex-direction: row;
    gap: 253px;
}
.section3-container__svg-text {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    color: #FFF;
    text-align: center;
    font-size: 120px;
    line-height: 125%;
}
.section3-container__box-text {
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.section3-container__box-title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 35px;
    line-height: 125%;
}
.section3-container__box-text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.section4 {
    display: flex;
    padding: 80px 315px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 70px;
    background: $color-title;
}
.section4__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    .btn--broun {
        border-radius: 18px;
        background: $number-color;
        display: flex;
        padding: 26px 49px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 18px;
        width: 55%;
        @include jost-very-big-white ($white, $jost,$fw-very-big);
        text-align: center;
        font-size: 18px;
        line-height: 125%;
        letter-spacing: 0.36px;
    }
}
.section4__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    color: $white;
    text-align: center;
    font-size: 50px;
    line-height: 125%;
}
.section4__text {
    @include jost-small ($color-text,$jost,$fw-small);
    color: $white;
    text-align: center;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}
.footer {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    gap: 134px;
    justify-content: center;
}
.footer__wrapper {
    display: flex;
    flex-direction: row;
    gap: 101px;
}
.footer__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 2px solid $light-grey;
}
.footer__info-text {
    @include jost-small ($color-text,$jost,$fw-small);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    width: 60%;
}
.social {
    display: flex;
    flex-direction: row;
    gap: 54px;
}
.footer__servises {
    display: flex;
    flex-direction: row;
    gap: 101px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-right: 2px solid $light-grey;
}
.footer__title {
    @include DM-Serif-Display ( $color-title, $dm-sans, $fw-small );
    font-size: 25px;
    line-height: 125%;
}
.footer__link {
    @include jost-small ($color-text,$jost,$fw-small);
    line-height: 300%;
    letter-spacing: 0.22px;
}
.footer__last-container {
    margin-top: 134px;
}
.footer__last-text {
    @include jost-small ($color-text,$jost,$fw-small);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
}